doctype html
head
  title A&apos;S
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Barlow+Condensed:900&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/open-iconic-bootstrap.min.css')
  link(rel='stylesheet' href='css/animate.css')
  link(rel='stylesheet' href='css/owl.carousel.min.css')
  link(rel='stylesheet' href='css/owl.theme.default.min.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='css/aos.css')
  link(rel='stylesheet' href='css/ionicons.min.css')
  link(rel='stylesheet' href='css/bootstrap-datepicker.css')
  link(rel='stylesheet' href='css/jquery.timepicker.css')
  link(rel='stylesheet' href='css/flaticon.css')
  link(rel='stylesheet' href='css/icomoon.css')
  link(rel='stylesheet' href='css/style.css')
nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
  .container
    a.navbar-brand(href='/') a&apos;s
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#ftco-nav' aria-controls='ftco-nav' aria-expanded='false' aria-label='Toggle navigation')
      span.oi.oi-menu
      |  Menu
    #ftco-nav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='/about') About
        li.nav-item
          a.nav-link(href='/work') Work
        li.nav-item
          a.nav-link(href='/contact') Contact
// END nav
section.hero-wrap.hero-wrap-2.js-fullheight(style="background-image: url('images/bg_3.jpg')" data-stellar-background-ratio='0.5')
  .overlay
  .container
    .row.no-gutters.slider-text.js-fullheight.align-items-end
      .col-md-9.ftco-animate.pb-5
        h2.mb-3.bread About Us
        p.breadcrumbs
          span.mr-2
            a(href='/')
              | Home
              i.ion-ios-arrow-forward
          span
            | About us 
            i.ion-ios-arrow-forward
section.ftco-section.ftco-intro
  .container
    .row.justify-content-end
      .col-md-4.d-flex
        .img(style="background-image: url('images/bg_2.jpg')")
      .col-md-8.py-md-5.pt-4.p-md-5
        h2
          | Web 
          span Designer
          | , Web
          span Developer
          | , and the CEO &amp; Founder of
          span A&apos;S
        p
          | The web is the ocean of marketing, creative
          | advertising, buying and selling and much of our
          | daily life. Therefore, the website must have a great
          | design and high performance to suit the user and
          | save his time.
        p
          a.btn.btn-primary(href='#') Contact Us
section.services-section.py-5.py-md-0
  .container
    .row.no-gutters.d-flex
      .col-md-6.col-lg-3.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.d-block
          .icon
            span.flaticon-layers
          .media-body
            h3.heading.mb-3 Web Design
            p
              | UX/UI Designer for since 2019 using React js
              | Framework.
      .col-md-6.col-lg-3.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.active.d-block
          .icon
            span.flaticon-web-programming
          .media-body
            h3.heading.mb-3 Web Development
            p Developer since 2019 using Node js
      .col-md-6.col-lg-3.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.d-block
          .icon
            span.flaticon-idea
          .media-body
            h3.heading.mb-3 Graphic Design
            p Little Experience of Graphic Design.
      .col-md-6.col-lg-3.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.active-2.d-block
          .icon
            span.flaticon-contract
          .media-body
            h3.heading.mb-3 Writing
            p Excellent best practice coder.
section.testimony-section
  .container
    .row.ftco-animate.justify-content-center
      .col-md-5.d-flex
        .testimony-img(style='background-image: url(images/bg_2.jpg)')
      .col-md-7.py-5.pl-md-5
        .heading-section.heading-section-white.pt-4.ftco-animate
          h2.mb-0 Customer Says
        .carousel-testimony.owl-carousel.ftco-owl
          .item
            .testimony-wrap.pb-4
              .text
                p.mb-4
                  | Far far away, behind the word
                  | mountains, far from the countries
                  | Vokalia and Consonantia, there live
                  | the blind texts.
              .d-flex
                .user-img(style='\
                background-image: url(images/person_1.jpg);\
                ')
                .pos.ml-3
                  p.name Jeff Nucci
                  span.position Businessman
          .item
            .testimony-wrap.pb-4
              .text
                p.mb-4
                  | Far far away, behind the word
                  | mountains, far from the countries
                  | Vokalia and Consonantia, there live
                  | the blind texts.
              .d-flex
                .user-img(style='\
                background-image: url(images/person_1.jpg);\
                ')
                .pos.ml-3
                  p.name Jeff Nucci
                  span.position Businessman
          .item
            .testimony-wrap.pb-4
              .text
                p.mb-4
                  | Far far away, behind the word
                  | mountains, far from the countries
                  | Vokalia and Consonantia, there live
                  | the blind texts.
              .d-flex
                .user-img(style='\
                background-image: url(images/person_1.jpg);\
                ')
                .pos.ml-3
                  p.name Jeff Nucci
                  span.position Businessman
          .item
            .testimony-wrap.pb-4
              .text
                p.mb-4
                  | Far far away, behind the word
                  | mountains, far from the countries
                  | Vokalia and Consonantia, there live
                  | the blind texts.
              .d-flex
                .user-img(style='\
                background-image: url(images/person_1.jpg);\
                ')
                .pos.ml-3
                  p.name Jeff Nucci
                  span.position Businessman
          .item
            .testimony-wrap.pb-4
              .text
                p.mb-4
                  | Far far away, behind the word
                  | mountains, far from the countries
                  | Vokalia and Consonantia, there live
                  | the blind texts.
              .d-flex
                .user-img(style='\
                background-image: url(images/person_1.jpg);\
                ')
                .pos.ml-3
                  p.name Jeff Nucci
                  span.position Businessman
section.ftco-section.ftco-intro.bg-light
  .container
    .row.justify-content-center
      .col-md-10.text-center
        h2.mb-0.font-primary MERN Stack
footer.ftco-footer.ftco-section
  .container
    .row.mb-5
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 About Us
          p
            | Far far away, behind the word mountains, far
            | from the countries Vokalia and Consonantia,
            | there live the blind texts.
          ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
            li.ftco-animate
              a(href='#')
                span.icon-twitter
            li.ftco-animate
              a(href='https://www.facebook.com/profile.php?id=100006097174823')
                span.icon-facebook
            li.ftco-animate
              a(href='#')
                span.icon-instagram
      .col-md
        .ftco-footer-widget.mb-4.ml-md-5
          h2.ftco-heading-2 Information
          ul.list-unstyled
            li
              a.py-2.d-block(href='#') Portfolio
            li
              a.py-2.d-block(href='#') Privacy
            li
              a.py-2.d-block(href='#') Terms Condition
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Links
          ul.list-unstyled
            li
              a.py-2.d-block(href='#') Home
            li
              a.py-2.d-block(href='#') About
            li
              a.py-2.d-block(href='#') Work
            li
              a.py-2.d-block(href='#') Contact
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Have a Questions?
          .block-23.mb-3
            ul
              li
                span.icon.icon-map-marker
                span.text
                  | Mushir St. Al-asmarat, Mokattma,
                  | Cairo, EGY
              li
                a(href='#')
                  span.icon.icon-phone
                  span.text +20 155 5796 442
              li
                a(href='#')
                  span.icon.icon-envelope
                  span.text ahmedsco9129@gmail.com
    .row
      .col-md-12.text-center
        p
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          | Copyright &copy;
          script.
            document.write(new Date().getFullYear());
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;All rights reserved
          i.icon-heart.color-danger(aria-hidden='true')
          a(href='#' target='_blank') Ahmed Magdy
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// loader
#ftco-loader.show.fullscreen
  svg.circular(width='48px' height='48px')
    circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
    circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')
script(src='js/jquery.min.js')
script(src='js/jquery-migrate-3.0.1.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.easing.1.3.js')
script(src='js/jquery.waypoints.min.js')
script(src='js/jquery.stellar.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/aos.js')
script(src='js/jquery.animateNumber.min.js')
script(src='js/scrollax.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
script(src='js/google-map.js')
script(src='js/main.js')
