doctype html
head
  title A&apos;S
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Barlow+Condensed:900&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/open-iconic-bootstrap.min.css')
  link(rel='stylesheet' href='css/animate.css')
  link(rel='stylesheet' href='css/owl.carousel.min.css')
  link(rel='stylesheet' href='css/owl.theme.default.min.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='css/aos.css')
  link(rel='stylesheet' href='css/ionicons.min.css')
  link(rel='stylesheet' href='css/bootstrap-datepicker.css')
  link(rel='stylesheet' href='css/jquery.timepicker.css')
  link(rel='stylesheet' href='css/flaticon.css')
  link(rel='stylesheet' href='css/icomoon.css')
  link(rel='stylesheet' href='css/style.css')
nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
  .container
    a.navbar-brand(href='/') a&apos;s
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#ftco-nav' aria-controls='ftco-nav' aria-expanded='false' aria-label='Toggle navigation')
      span.oi.oi-menu
      |  Menu
    #ftco-nav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/about') About
        li.nav-item
          a.nav-link(href='/work') Work
        li.nav-item
          a.nav-link(href='/contact') Contact
// END nav
section#home-section.hero
  h1.vr.text-center(style='font-size: 41vw') a&apos;s
  .js-fullheight.home-wrap.d-flex
    .half.order-md-last
    .half
      .home-slider.owl-carousel
        .slider-item.js-fullheight
          .overlay
          .container-fluid.p-0
            .row.d-md-flex.no-gutters.slider-text.js-fullheight.align-items-center.justify-content-end(data-scrollax-parent='true')
              .one-third.img.js-fullheight(style='\
              background-image: url(images/profile1.jpg);\
              ')
section.ftco-section.ftco-intro
  .container
    .row.justify-content-end
      .col-md-8
        h2
          | Web 
          span Designer
          | , Web
          span Developer
          | , and the CEO &amp; Founder of
          span A&apos;S
        p
          | The web is the ocean of marketing, creative
          | advertising, buying and selling and much of our
          | daily life. Therefore, the website must have a great
          | design and high performance to suit the user and
          | save his time.
section.services-section.py-5.py-md-0
  .container
    .row.no-gutters.d-flex
      .col-md-6.col-lg-3.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.d-block
          .icon
            span.flaticon-layers
          .media-body
            h3.heading.mb-3 Web Design
            p
              | UX/UI Designer for since 2019 using React js
              | Framework.
      .col-md-6.col-lg-3.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.active.d-block
          .icon
            span.flaticon-web-programming
          .media-body
            h3.heading.mb-3 Web Development
            p Developer since 2019 using Node js
      .col-md-6.col-lg-3.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.d-block
          .icon
            span.flaticon-idea
          .media-body
            h3.heading.mb-3 Graphic Design
            p Little Experience of Graphic Design.
      .col-md-6.col-lg-3.d-flex.align-self-stretch.ftco-animate
        .media.block-6.services.active-2.d-block
          .icon
            span.flaticon-contract
          .media-body
            h3.heading.mb-3 Writing
            p Excellent best practice coder.
section.ftco-section.ftco-portfolio
  .container-fluid
    .row.justify-content-center.pb-3
      .col-md-12.mb-5.heading-section.text-center.ftco-animate
        h2.mb-5
          | Latest &amp; 
          span Greatest
  .container
    .row.no-gutters
      .col-md-12.portfolio-wrap
        .row.no-gutters.align-items-center
          .col-md-5.img.js-fullheight(style='\
          background-image: url(/images/profile2.jpg);\
          ')
          .col-md-7
            .text.pt-5.pl-0.pl-lg-5.pl-md-4.ftco-animate
              .px-4.px-lg-4
                .desc
                  .top
                    span.subheading
                      | Web Design
                      | {01/01/2019}
                    h2.mb-4 Design
                  .absolute
                    p
                      | Far far away, behind the
                      | word mountains, far from the
                      | countries Vokalia and
                      | Consonantia, there live the
                      | blind texts. Separated they
                      | live in Bookmarksgrove.
                    p
                      a.custom-btn(href='#') View Portfolio
  .container-fluid.px-0.portfolio-entry
    .row.no-gutters.d-xl-flex.justify-content-end.text-wrapper
      .one-half.img.js-fullheight(style="background-image: url('images/work-3.jpg')")
      .one-half.half-text.d-flex.justify-content-end.align-items-center.ftco-animate
        .text.align-items-center.d-flex
          .desc.pt-5.pl-4.pr-4.pt-lg-0.pl-lg-5.pl-xl-0.pr-xl-0
            .top
              span.subheading Development {01/01/2019}
              h2.mb-4.col-sm-1 Development
            .absolute
              p
                | Far far away, behind the word mountains,
                | far from the countries Vokalia and
                | Consonantia, there live the blind texts.
                | Separated they live in Bookmarksgrove.
              p
                a.custom-btn(href='#') View Portfolio
footer.ftco-footer.ftco-section
  .container
    .row.mb-5
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 About Us
          p
            | Far far away, behind the word mountains, far
            | from the countries Vokalia and Consonantia,
            | there live the blind texts.
          ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
            li.ftco-animate
              a(href='#')
                span.icon-twitter
            li.ftco-animate
              a(href='https://www.facebook.com/profile.php?id=100006097174823')
                span.icon-facebook
            li.ftco-animate
              a(href='#')
                span.icon-instagram
      .col-md
        .ftco-footer-widget.mb-4.ml-md-5
          h2.ftco-heading-2 Information
          ul.list-unstyled
            li
              a.py-2.d-block(href='#') Portfolio
            li
              a.py-2.d-block(href='#') Privacy
            li
              a.py-2.d-block(href='#') Terms Condition
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Links
          ul.list-unstyled
            li
              a.py-2.d-block(href='#') Home
            li
              a.py-2.d-block(href='/about') About
            li
              a.py-2.d-block(href='#') Work
            li
              a.py-2.d-block(href='#') Contact
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Have a Questions?
          .block-23.mb-3
            ul
              li
                span.icon.icon-map-marker
                span.text
                  | Mushir St. Al-asmarat, Mokattma,
                  | Cairo, EGY
              li
                a(href='#')
                  span.icon.icon-phone
                  span.text +20 155 5796 442
              li
                a(href='#')
                  span.icon.icon-envelope
                  span.text ahmedsco9129@gmail.com
    .row
      .col-md-12.text-center
        p
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          | Copyright &copy;
          script.
            document.write(new Date().getFullYear());
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;All rights reserved
          i.icon-heart.color-danger(aria-hidden='true')
          a(href='#' target='_blank') Ahmed Magdy
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// loader
#ftco-loader.show.fullscreen
  svg.circular(width='48px' height='48px')
    circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
    circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')
script(src='js/jquery.min.js')
script(src='js/jquery-migrate-3.0.1.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.easing.1.3.js')
script(src='js/jquery.waypoints.min.js')
script(src='js/jquery.stellar.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/aos.js')
script(src='js/jquery.animateNumber.min.js')
script(src='js/scrollax.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
script(src='js/google-map.js')
script(src='js/main.js')
